body{
    margin: auto;
    padding: 0%;
    background-color: #e9edf2;
    justify-content: center;
    align-items: center;
    
}
.main-menu{
    display: flex;
}
.container-form{
    width: 200px;
    height: 450px;
    margin-left: 40%;
    position: relative;
    background-color: #e9edf2;
    border-radius: 3px;
    border: 1px solid#000;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 1.2% 0;
    padding: 20px;
    width: 90%;
}
a, li{
    text-decoration: none;
    list-style: none;
}
button{
    border-radius: 5px;
    background-color: rgb(63, 121, 230);
    color: #ffffff;
}

img{
    width: 100%;
}

h2, h3, h4, p{
    text-align: center;
}

#formulaire, #abo{
    background-color: #ffffff;
}

.container{
    align-items: center;
}
.logo{
    width: 10%;
    height: 15%;
}
footer{
    color: #ffffff;
    background-color: #3f4655;
    display: flex;
}